<h1>Cocktails#show</h1>
<p>Find me in app/views/cocktails/show.html.erb</p>
<%= @cocktail.name %>
<%= cl_image_tag @cocktail.photo, height: 300, width: 400, crop: :fill %>

<%= render "dose/new", cocktail: @cocktail, dose: @dose %>

<% @cocktail.doses.each do |dose| %>
  <%= dose.description %>
  <%= dose.ingredient.name %>
<% end %>

<%= link_to 'back to cocktails', cocktails_path %>
